<!DOCTYPE html>
<html lang="ja">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>もぐもぐ動物病院 - TopPage</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="css/full-width-pics.css" rel="stylesheet"> -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#mogumogu">もぐもぐ動物病院</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#sinryo">診療
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">当院について</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#osirase">お知らせ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aisatu">院長あいさつ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#setubi">設備紹介</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#access">アクセス</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url( <%= image_url('top_image.jpg') %>)">
      <div class="row">
        <div class="col-sm-4">
          <img class="d-block mx-auto" src="<%= image_url('icon_morning.png') %>" alt="">
        </div>
        <div class="col-sm-4">
          <img class="d-block mx-auto" src="<%= image_url('icon_afternoon.jpg') %>" alt="">
        </div>
        <div class="col-sm-4">
          <img  class="d-block mx-auto" src="<%= image_url('icon_night.jpg') %>" alt="">
        </div>
      </div>
    </header>

    <!-- Content section -->
    <section class="py-3" id="sinryo">
      <div class="container">
        <div id="calendar"></div>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <section class="py-5" id="about">
      <div class="container">
        <h1>当院について</h1>
        <p class="lead">もぐもぐ動物病院</p>
        <p>石狩市に開院したもぐもぐ動物病院は、昼間も夜間も受診できる動物病院です。<br>
        札幌・小樽・石狩にお住まいのペット愛好家のみなさまと一緒に、ペットの健康と安全を全力でサポートいたします。</p>
      </div>
    </section>

    <section class="py-5" id="osirase">
      <div class="container">
        <h1>当院からのお知らせ</h1>
        <p class="lead">ToDo:おしらせリンク表示</p>
      </div>
    </section>

    <section class="py-5" id="aisatu">
      <div class="container">
        <h1>院長あいさつ</h1>
        <p class="lead">筈見友洋</p>
        <p>
          ２００９年　酪農学園大学卒業<br>
          元酪農学園大学附属動物病院　眼科研修医<br>
          元札幌ノースアニマルクリニック勤務医<br>
          ２０１７年５月〜　インターパーク動物病院　勤務医
        </p>
        <p>【学会発表・執筆】</p>
        <p>
          酪農学園大学における犬の<br>
          酪農学園大学における進行性<br>
          経結膜アプローチ<br>
          造影CTなどなど<br>
        </p>
      </div>
    </section>

    <section class="py-5" id="setubi">
      <div class="container">
        <h1>設備紹介</h1>
        <p class="lead">ToDo:設備写真の表示</p>
      </div>
    </section>

    <!-- Footer -->
      <footer class="py-5 bg-dark" id="access">
        <div class="container text-white">
          <div class="row">
            <div class="col-sm-5">
              <h3>もぐもぐ動物病院</h3>
              <p>〒000-0000</p>
              <p>石狩市</p>
            </div>
            <div class="col-sm-4">
              <h1>ToDo:マップ</h1>
            </div>
          </div>
        </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  </body>

</html>
